section {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  text-align: center;
}

h1,
h2 {
  text-align: center;
}

article {
  background-color: #293462;
  color: #fff;
  padding: 0.5rem;
}

@media (max-width: 600px) {
  section {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 768px) {
  section {
    grid-template-columns: auto auto auto;
  }
}
